<div class="card-container">
    <a  class="card" target="_blank" rel="noopener" style="background-color: #99c2ff">
        <span>Total_Amount  {{ Total_Amount }}</span>
   </a>
    <a  class="card" target="_blank" rel="noopener" style="background-color: #66a3ff">
        <span>Total_Count   {{ Total_Count }}</span>
    </a>
    <a class="card" target="_blank" rel="noopener" style="background-color: #1a8cff">
        <span>Total_Amount   {{ Total_Amount1 }}</span>
   </a>
    <a  class="card" target="_blank" rel="noopener" style="background-color: #0066cc">
        <span>Total_Count  {{ Total_Count1 }}</span>
    </a>

</div>
<div>
    <div class="G1" style="display: block">
        <canvas id ="montant_out">
        </canvas>
    </div>
    <div class="G2" style="display: block">
        <canvas id = "montant_in_out" >
        </canvas>
    </div>
    <div class="G3" style="display: block">
        <canvas id = "nb_subs_day" >
        </canvas>
    </div>
    <div class="G4" style="display: block">
        <canvas id = "nb_subs_wilaya" >
        </canvas>
    </div>
    <div class="G5" style="display: block">
        <canvas id = "active_offer" >
        </canvas>
    </div>
    <div class="G6" style="display: block">
        <canvas id ="custumer_value" >
        </canvas>
    </div>
    <div class="G7" style="display: block">
        <canvas id = "market_share" >
        </canvas>
    </div>
    <div class="G8" style="display: block">
        <canvas id = "tech">
        </canvas>
    </div>
</div>

<nav >
    <a class= "lien" routerLink="/Register">Exite</a>
    <a class= "lien" routerLink="/Prédiction">Prédiction</a>
</nav>
